* {
    box-sizing: border-box; 
}
* {
    margin: 0; 
    padding: 0; 
}
a {
    text-decoration: none;
    color: black;
}
img, svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat; 
  background-size: cover;
}
input, button {
    font: inherit; 
    border: 0;
}
body, html {
    height: 100%; 
    scroll-behavior: smooth; 
}
html:focus-within {
    scroll-behavior: smooth; 
}