:root {
    --font-family-primary: 'Satoshi', sans-serif;
    --font-family-headers: 'Clash Display', sans-serif;

    --primary: hsl(242, 31%, 44%);
    --dark-primary: hsl(248, 34%, 22%);
    --h1-color: hsl(249, 18%, 15%);
    --links-color: hsl(248, 12%, 49%);
    --button-bgc: hsla(0, 0%, 98%, 0.149);
    --light-gray: hsl(0, 0%, 98%);
    --white-dark: hsla(0, 0%, 100%, 0.149);
}
