:root {
    --primary: #4E4D93;
    --dark-primary: #2A254B;
    --h1-color: #22202E;
    --links-color: #726E8D;
    --button-bgc: #F9F9F926;
    --light-gray: #F9F9F9;
    --white-dark: #FFFFFF26;
}
